/Autobigraphical.class
/AutomorphicNum.class
/BuzzNumber.class
/CheckMarriagAge.class
/CheckPositiveINt.class
/CheckPrimeNo.class
/DishHotel.class
/EmirpNum.class
/EvenNum.class
/EvenSum.class
/FacinatingNum.class
/FactorCount.class
/FactorOfNum.class
/FactorSum.class
/FactorSumCount.class
/HarshadNum.class
/HoursToMinutes.class
/IfCheckIntger.class
/IsbnNum.class
/LeapYear.class
/NeonNum.class
/PerfectNum.class
/PetersonNum.class
/PrimeNum.class
/ReverseNum.class
/ReversePrint.class
/SmallerNumber.class
/SpyNumber.class
/StatMonth.class
/StudenApplication.class
/SunnyNum.class
/SwappingVariable.class
/TechNum.class
/XyloemNum.class
/YogiShop.class
